<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Visualization - Lab 2a</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module" src="../static/helperFns.js"></script>
    <script type="module" src="../static/plotGraphs.js"></script>
</head>
<body>
    <div id="graph-heading">
        <h1>Socio-Economic Indicators of Countries</h1>
    </div>

    <div id="content-1">
        <div id="content">
            <h1>PCA Scree Plot</h1>
            <div id="pca-chart"></div>
        </div>
        <div id="content">
            <h1>PCA-Based Biplot</h1>
            <div id="bi-plot"></div>
        </div>
        <div id="content" style="border-right: 2px solid black">
            <h1>Top 4 Attributes</h1>
            <table id="imp-columns"></table>
        </div>                
    </div>

    <div id="content-2">     
        <div id="content">
            <h1>K-Means MSE Plot</h1>
            <div id="mse-chart"></div>
        </div>   
        <div id="content" style="border-right: 2px solid black">
            <h1>Scatterplot Matrix</h1>
            <div id="scatter-plot"></div>
        </div>      
       
    </div>

</html>
